from .base import Base
{% for model_object in model_objects %}
from .{{ model_object.file_name }} import {{ model_object.class_name }}Model
{% endfor %}

__all__ = [
{% for model_object in model_objects %}
    {{ model_object.class_name }}Model,
{% endfor %}
]