from typing import List

from fastapi import APIRouter, Depends, HTTPException, Query
from sqlalchemy.orm import Session

from app.crud import {{ table_name }} as crud
from app.schemas import {{ table_name }} as {{ table_name }}_schema
from app.core.db import SessionLocal

router = APIRouter()

# Dependency
def get_db():
    db = SessionLocal()
    try:
        yield db
    finally:
        db.close()



@router.post("/{{ table_name }}/", response_model={{ table_name }}_schema.{{ class_name }}Create)
def create_{{ table_name }}({{ table_name }}: {{ table_name }}_schema.{{ class_name }}Create, db: Session = Depends(get_db)):
    db_obj = crud.{{ table_name }}.create(db=db, obj_in={{ table_name }})
    return db_obj


@router.get("/{{ table_name }}/", response_model=List[{{ table_name }}_schema.{{ class_name }}Read])
def read_{{ table_name }}(skip: int = 0, limit: int = 100, db: Session = Depends(get_db)):
    db_obj = crud.{{ table_name }}.get_multi(db, skip=skip, limit=limit)
    return db_obj


@router.get("/{{ table_name }}/{{'{'}}{{ table_name }}_id{{'}'}}", response_model={{ table_name }}_schema.{{ class_name }}Read)
def read_one_{{ table_name }}({{ table_name }}_id: int, db: Session = Depends(get_db)):
    db_obj = crud.{{ table_name }}.get(db, id={{ table_name }}_id)
    if db_obj is None:
        raise HTTPException(status_code=404, detail="{{ class_name }} not found")
    return db_obj


@router.put("/{{ table_name }}/{{'{'}}{{ table_name }}_id{{'}'}}", response_model={{ table_name }}_schema.{{ class_name }}Read)
def update_{{ table_name }}({{ table_name }}_id: int, {{ table_name }}_update: {{ table_name }}_schema.{{ class_name }}Update, db: Session = Depends(get_db)):
    db_obj = crud.{{ table_name }}.get(db, id={{ table_name }}_id)
    if db_obj is None:
        raise HTTPException(status_code=404, detail="{{ class_name }} not found")
    return crud.{{ table_name }}.update(db=db, db_obj=db_obj, obj_in={{ table_name }}_update)


@router.delete("/{{ table_name }}/{{'{'}}{{ table_name }}_id{{'}'}}", response_model={{ table_name }}_schema.{{ class_name }}Read)
def delete_{{ table_name }}({{ table_name }}_id: int, db: Session = Depends(get_db)):
    db_obj = crud.{{ table_name }}.get(db, id={{ table_name }}_id)
    if db_obj is None:
        raise HTTPException(status_code=404, detail="{{ class_name }} not found")
    return crud.{{ table_name }}.remove(db=db, id={{ table_name }}_id)



