from .base import Base
{% for model_object in model_objects %}
from .{{ model_object.file_name }} import {{ model_object.class_name }}
{% endfor %}

__all__ = [
{% for model_object in model_objects %}
    {{ model_object.class_name }},
{% endfor %}
]