

export interface {{ class_name }}Response {
{% for column in columns %}
    {{ snake_to_camel(column.name) }}?: {{ map_pg_column_to_typescript(column) }};
{% endfor %}
}


export interface {{ class_name }}UI {
{% for column in columns %}
    {{ snake_to_camel(column.name) }}?: {{ map_pg_column_to_typescript(column) }};
{% endfor %}
}

